<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обучение Git</title>
<!--     <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">-->
<!--     <link rel="stylesheet" href="{% static 'main/css/slick.css' %}">-->
<!--     <link rel="stylesheet" href="{% static 'main/css/jquery.fancybox.css' %}">-->
     <link rel="stylesheet" href="{% static 'main/css/bg.css' %}">
     <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body id="bg" style="background-image: url('{% static 'main/image/main_bg.jpg' %}');">
  <header class="header">
    <div class="container">
      <div class="header__inner">

        <div class="header__top">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="{% url 'home' %}">
                  ГЛАВНОЕ МЕНЮ
              </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="{% url 'exercise' %}">
                  УПРАЖНЕНИЯ
              </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="{% url 'about_us' %}">
                  О НАС
              </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="{% url 'register' %}">РЕГИСТРАЦИЯ</a> | <a class="menu__link" href="{% url 'login' %}">ВОЙТИ</a>
              </li>
            </ul>
          </nav>

          <button class="cabinet">
            <a href="{% url 'cabinet' %}">
            <img class="login__img" src="{% static 'main/image/login.png' %}" alt="cabinet img" >
            </a>
          </button>
        </div>

        <div class="header__content">
          <h2 class="main__h2">Введение в Git</h2>
          <p>Git — это распределенная система контроля версий, широко используемая для контроля версий и совместной работы над проектами.</p>

          <h2 class="main__h2">Basic Git Commands</h2>
          <ul class="content__list">
            <li class="content__item">git init - инициализирует гит репозиторий.</li>
            <li class="content__item">git clone - клонирует репозиторий на локальную машину</li>
            <li class="content__item">git add - добавляет файлы в промежуточную область..</li>
            <li class="content__item">git commit - сохраняет изменения в репозитории.</li>
            <li class="content__item">git push - отправляет изменения на удаленный сервер.</li>
            <li class="content__item">git pull - извлекает последние изменения с удаленного сервера.</li>
          </ul>

          <h2 class="main__h2">Working with Branches</h2>
          <p>Git позволяет создавать ветки и управлять ими, упрощая параллельную разработку и интеграцию изменений.</p>

          <h2 class="main__h2">Additional Resources</h2>
          <ul class="content__list">
            <li class="content__item"><a href="https://git-scm.com/doc">Official Git Documentation</a></li>
            <li class="content__item"><a href="https://learngitbranching.js.org/">Interactive Git Tutorial</a></li>
          </ul>
        </div>

<!--        <aside class="input_cmd">-->
<!--          <h2 class="main__h2">Git Command Window</h2>-->
<!--          <textarea id="git-command"></textarea>-->
<!--          <button onclick="runGitCommand()">Run Command</button>-->
<!--          <div id="output"></div>-->
<!--        </aside>-->

      </div>
    </div>
  </header>

  <script src="script.js"></script>
  
</body>
</html>
