<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Обучение Git</title>
  <link rel="stylesheet" href="{% static 'main/css/bg.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body id="bg" style="background-image: url('{% static 'main/image/main_bg.jpg' %}');">
  <header class="header">
    <div class="container">
      <div class="header__inner">

        <div class="header__top">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="{% url 'home' %}">
                  ГЛАВНОЕ МЕНЮ
              </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="{% url 'exercise' %}">
                  УПРАЖНЕНИЯ
              </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="{% url 'about_us' %}">
                  О НАС
              </a>
              </li>
            <li class="menu__item">
                <a class="menu__link" href="{% url 'register' %}">РЕГИСТРАЦИЯ</a> | <a class="menu__link" href="{% url 'login' %}">ВОЙТИ</a>
              </li>
            </ul>
          </nav>

          <button class="cabinet">
            <a href="{% url 'cabinet' %}">
            <img class="login__img" src="{% static 'main/image/login.png' %}" alt="cabinet img" >
            </a>
          </button>
        </div>

          <div class="header__content-login">
            <div class="header__login-container">
              <div class="registration-form">
                <h2 class="reg">Registration GIT</h2>
                  <form method="post">
                    {% csrf_token %}
<!--                    {{ form.as_p}}-->
                  {% for f in form %}
                  <p><label class="form-label" >{{f.label}}: </label>{{ f }}</p>
                  <div class="form-error">{{ f.errors }}</div>
                  {% endfor %}
                    <button type="submit">Регистрация</button>
                  </form>
<!--                <form id="register-form" method="post">-->
<!--                  <div class="form-group">-->
<!--                    <label class="form-label" for="name">Name:</label>-->
<!--                    <input type="text" id="name" name="name" required>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <label class="form-label" for="email">Email:</label>-->
<!--                    <input type="email" id="email" name="email" required>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <label class="form-label" for="password">Password:</label>-->
<!--                    <input type="password" id="password" name="password" required>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <label class="form-label" for="confirm-password">Confirm Password:</label>-->
<!--                    <input type="password" id="confirm-password" name="confirm-password" required>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <label class="form-label" for="phone">Phone:</label>-->
<!--                    <input type="tel" id="phone" name="phone" required>-->
<!--                  </div>-->
<!--                  <button class="reg-submit" type="submit">Register</button>-->
<!--                </form>-->
              </div>
            </div>
          </div>

      </div>
    </div>
  </header>

</body>
</html>
